# Chặn môi trường ảo
.venv/
venv/

# Chặn file chứa API Key và bí mật
.env

# Chặn các file rác của hệ thống
__pycache__/
*.pyc
.DS_Store

working-with-llms.ipynb

fordham-website-windows/

temp/
*.npy
fordham_chunks_meta.npy
fordham_embeddings.npy